html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
}
.canvas-wrapper {
  overflow: hidden;
  width: auto;
  width: min(1000px, calc(100vw - 2rem));
  height: auto;
  
  box-shadow:
  0 0 0 1px hsla(0, 0%, 0%, 0.05),
  5px 10px 60px hsla(0, 0%, 0%, 0.1);
  
}
.canvas-wrapper figure {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
.canvas-wrapper canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
}
